#container{
    display: flex;
    /* border: 1px solid black; */
    justify-content: center;
    margin: 50px

}


#container #tooling{
  
        /* height: 150px; */
        /* width: 50%; */
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-gap: 20px;
        
      
        margin: auto;
        
    
    }


    #izq{
        display: flex;
        
        /* border:1px solid black; */
    }

    #der{
        /* display: flex; */
        /* border:1px solid black;   */
        padding: 10px; 
    }
    img{
        height:100%;
        width:100%;
        margin: auto;
    }

    h6{
        text-align: center;
        color: #1976d2;
    }