#flex{
    display: flex;
    justify-content: center;

        
}


/* #flex div{
    border: 1px solid black;
} */


#flex #card {
    height: 150px;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin:20px 0;
    box-shadow: 5px 5px 5px 5px #888888 ;

}

    #flex #card #button{
        grid-column: 1/3;
    }

    #button{
        display: flex;
        justify-content: center;
        margin: auto;
    
    }

    #img{
        display: flex;
        justify-content: center;
        margin: auto;
    }
 