<div id="container">
    <div id="develop">
        <div id="izq">
            <h6>SPEED & PERFORMANCE</h6>
          
          <p> Achieve the maximum speed possible on the Web Platform today, and take it further, via Web Workers and server-side rendering.

              Angular puts you in control over scalability. Meet huge data requirements by building data models on RxJS, Immutable.js or another push-model.</p>
        </div>


      <div id="der">
        <img src="assets/speed-performance.svg">
      </div>
  
     
      
    </div>
  </div>
  