
* {
  -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
  margin:0;
}
.headerimage {
  background-color:#1976d2;
  height:400px;
  width:100%;
  background-size:cover;
  position:relative;
  z-index:-1;
}
#backshape .wrapper {
  display:block;
  float:left;
  margin:50px auto 200px;
  width:100%;
  padding:0 5%;
  transform:skew(0deg,-5deg);
-ms-transform:skew(0deg,-10deg);
-webkit-transform:skew(0deg,-5deg); 
}


#backshape {
  z-index:1;
  display:block;
  float:left;
  margin-top:-163px;
  width:100%;
  background:white;
  transform:skew(0deg,10deg);
-ms-transform:skew(0deg,10deg); /* IE 9 */
-webkit-transform:skew(0deg,5deg); /* Safari and Chrome */
}

.hero-headline {
  z-index: 100;
  display: grid;
  grid-template-columns:1fr 1fr;
  position: absolute;
  width: 100%;
} 

  #der{
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}

span{
  color: beige
}
