#container{
    /* display: flex; */
    border: 1px solid black;
    justify-content: center;
    margin: 50px;
    background-color:blue;
    width: 100%;
    margin-left: 0px;
    
    
}


#container #listas{
    display:grid;
    grid-template-columns: repeat(4 , 1fr);
    color: #ffff;
    padding: 5px;
}

li{
    list-style-type: none;
    text-align: left;
}

h6{
    /* color:blue; */
    text-align: left;
}

p{

    text-align: center;
    color: #ffff;
    

}